
    {% include "head.html"%}
    <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mt-5">

                        <div align='right' class="card " style="width: 100%;">
                            <img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/discount/hut125.379682734359af3a04fc56def0b18026.1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Rs. 125 Off on bill value above Rs.500</h5>
                              <p class="card-text">Valid on Ala carte orders, not applicable on deals.</p>
                              <hr>
                              <a href="#" class="btn btn-primary " >Customise your deal</a>
                            </div>
                          </div>

                        
                    </div>

                    <div class="col-md-6 mt-5">

                        <div align='right' class="card " style="width: 100%;">
                            <img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/discount/hut125.379682734359af3a04fc56def0b18026.1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Rs. 125 Off on bill value above Rs.500</h5>
                              <p class="card-text">Valid on Ala carte orders, not applicable on deals.</p>
                              <hr>
                              <a href="#" class="btn btn-primary " >Customise your deal</a>
                            </div>
                          </div>

                        
                    </div>

                    

                    <div class="col-md-6">

                    </div>
                </div>
            </div>

            <div class="col-md-4 p-auto mt-5" style="background-color: rgb(241, 235, 235);">
                    <center>
                        <h1>Your Basket</h1>
                    <br>
                    <a href=""><h4 style="color: green;"> Apply Coupon code or Gift Card </h4></a>
                    </center>
            </div>
        </div>
    </div>











    {% include "footer.html"%}